# Node
node_modules/

# Java
target/
*.class

# Logs
*.log

# Env
.env

# Blockchain (ignore heavy fabric files)
blockchain/fabric-samples/test-network/organizations/
blockchain/fabric-samples/test-network/system-genesis-block/
blockchain/fabric-samples/test-network/channel-artifacts/
blockchain/fabric-samples/test-network/docker/

# Optional
*.tar.gz
